<footer id="colophon" class="bg-[#f3f4f6]">
    <div class="container mx-auto py-16 px-4">
        <div class="md:flex md:justify-between">
            {% if footer_col_1|length > 0 %}
                <div id="footer-col-1" class="footer-col">
                    {{ footer_col_1|raw }}
                </div>
            {% endif %}
            <div class="grid grid-cols-1 gap-8 sm:gap-x-[10em] sm:grid-cols-2">
                {% if footer_col_2|length > 0 %}
                    <div id="footer-col-2" class="footer-col">
                        {{ footer_col_2|raw }}
                    </div>
                {% endif %}
                {% if footer_col_3|length > 0 %}
                    <div id="footer-col-3" class="footer-col">
                        {{ footer_col_3|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="border-t-[1px] border-[#dedede] py-4">
        <div class="container mx-auto px-4 md:flex md:items-center md:justify-between">
            <span class="text-sm sm:text-center">
                all rights reserved | <a href="#">codebees</a> © {{"now"|date('Y')}}
            </span>

            {% if social_links is not empty %}
                <div class="socials flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                    {% for icon in social_links %}
                        <a href="{{ icon.link_url }}" class="socials__icon text-gray-400 hover:text-[#222222]" target="_blank" rel="noopener noreferrer">
                            <img class="w-5 h-5 opacity-50 hover:opacity-85" src="{{ icon.link_icon }}" alt="{{ icon.link_text }}" />
                            <span class="sr-only">{{ icon.link_text }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>
